@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300&display=swap%27");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(255, 255, 255);
}

header, footer > section, .main-acercade > img, .main-caracteristicas > img {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
header .header-image, footer > section .header-image, .main-acercade > img .header-image, .main-caracteristicas > img .header-image {
  text-align: center;
}
header .header-image a > img, footer > section .header-image a > img, .main-acercade > img .header-image a > img, .main-caracteristicas > img .header-image a > img {
  width: 50%;
}
header nav, footer > section nav, .main-acercade > img nav, .main-caracteristicas > img nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
header nav ul, footer > section nav ul, .main-acercade > img nav ul, .main-caracteristicas > img nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
header nav ul li, footer > section nav ul li, .main-acercade > img nav ul li, .main-caracteristicas > img nav ul li {
  list-style: none;
  transition: 500ms;
}
header nav ul li a:hover, footer > section nav ul li a:hover, .main-acercade > img nav ul li a:hover, .main-caracteristicas > img nav ul li a:hover {
  color: rgb(145, 145, 145);
  transition: 500ms;
}

main h1 {
  margin-top: 10rem;
  font-size: 80px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}
main h2 {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 800;
  display: block;
}
main p {
  font-size: 20px;
}
main em {
  font-style: normal;
}
main a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  place-content: center;
  margin: auto;
  color: rgb(255, 255, 255);
  width: 300px;
  height: 50px;
  border: 3px solid rgb(216, 211, 203);
  margin-top: 10rem;
  transition: 300ms;
  text-transform: uppercase;
}
main a:hover {
  border: none;
  background-color: rgb(216, 211, 203);
  transition: 300ms;
  color: rgb(0, 0, 0);
}

.fondoPrincipal {
  background-image: url("../assets/img/Sillon-relax-piel-Bremen-HIMOLLA-VIDAFEL-Sofas.jpg");
  height: 85vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
  padding: 0.01em;
}

.main-video {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

footer > section div > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  list-style: none;
}
footer > section div > ul li > a {
  font-size: 18px;
}
footer > section div > ul li > a i {
  font-size: 4.25rem;
}

ul > li > a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.125rem;
}

@media (max-width: 1080px) {
  header, .main-caracteristicas > img, .main-acercade > img, footer > section {
    flex-direction: column;
    gap: 0.625rem;
  }
  main h1 {
    margin-top: 5rem;
  }
  main a {
    margin-top: 5rem;
  }
  footer section {
    flex-direction: row;
  }
}
@media (max-width: 762px) {
  header > nav > ul, .main-caracteristicas > img > nav > ul, .main-acercade > img > nav > ul, footer > section > nav > ul {
    flex-direction: column;
    gap: 0.625rem;
  }
  footer > section .footer-contact > ul {
    flex-direction: column;
  }
  footer > section div > ul > li > a > i {
    font-size: 2.875rem;
  }
}
@media (max-width: 474px) {
  main h1 {
    margin-top: 0px;
  }
  main a {
    margin-top: 0px;
  }
}/*# sourceMappingURL=style.css.map */