$color-principal: rgb(255, 255, 255);
$color-boton: rgb(216, 211, 203);
$color-texto: rgb(0, 0, 0);
$color-texto-boton-principal: rgb(255, 255, 255);
$color-texto-boton-secundario: rgb(0, 0, 0);
$color-hover: rgb(145, 145, 145);