footer>section {
    @extend header;

    div>ul {
        @include flex (row, nowrap, center, center);
        gap: .625rem;
        list-style: none;

        li>a {
            font-size: 18px;

            i {
                font-size: 4.25rem;
            }
        }
    }
}